/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

mat-grid-tile {
 background: lightblue;
}


h1 {
 // font-size: 24px;
 // font-weight: 400;
 // line-height: 32px;
 text-align: left;
}




.container {
 padding: 2%;
 // width: 50%;
 // height: 70%;



}

.card-nlp {
 background-color: #5a55f4;
 border-radius: 20px;
 height: 100%;
 .card-body {
  font-size: x-large;
  color:#ffff;
  min-height: 450px;
  top: 84px;
  left: 730px;
  gap: 0px;
  opacity: 0px;
 
 }
}




