<div class="container">
 <div class="row">
   <div class="col d-block">
    <h2 >NLP Chat Demo</h2>
    
      <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label >Name</label>
          <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="mb-3">
         <label for="taskName">Phone</label>
         <input type="text" class="form-control" formControlName="phone">
       </div>
       <div class="mb-3">
        <label>Customer Agent Prompt</label>

        <app-opening-sentence formControlName="tags"   (tagsEvent)="getTags($event)"> </app-opening-sentence>
      
       </div>
       
        
       
        <div class="text-center d-grid" style="margin-top:10px">
          <button type="submit" class="btn btn-dark rounded-pill ">Submit</button>
        </div>
       </form>
   </div>
   
   <div class="col col-5 d-none d-sm-block">
    <div class="card card-nlp" >
      <div class="card-body">
        <span class="card-text">Unlock the Power of Conversation with NLP Chat and Transform your Business Interactions</span>
      </div>
    </div>

    <div class="card card-instructions" >
      <div class="card-body">
        <p>To start a chat</p>
        <ol>
          <li>Enter your name and phone number</li>
          <li>In the Customer Agent Prompt, edit and expand the placeholder text</li>
          <li>Click on the tags to add them to the prompt</li>
          <li>Create your own tags, by surrounding a single word or phrase with two sets of square brackets,[[My Tag]], and press return</li>
          <li>Click Submit. An alert will show you all the data you submitted</li>
        </ol>
      </div>
    </div>
   </div>
 </div>
</div>

